<!-- <section>
  <div class="container-fluid">
    <div class="row" style="justify-content: center;">
      <div class="col-lg-3 col-3 logimage">
        <img class="clientlogo bottomborder topborder" src="../../../assets/Images/Content.webp" style="height: 100%; width: 100%; border-radius: 10px 0px 0px 10px;" alt="...">
      </div>
      <div class="col-lg-5 col-12">
        <form class="boxshadoww bottomborder topborder" style="border-radius: 0px 10px 10px 0px; padding: 5%;" (submit)="OnSubmit()">
          <div class="row mb-4">
            <div class="col">
              <form-control>
                <input type="text" id="form3Example1" class="form-control" [(ngModel)]="registration.FName" #NameControl="ngModel" name="FName" onkeypress="return (event.charCode > 64 && event.charCode < 91 ) || (event.charCode > 96 && event.charCode < 123) || (event.charCode == 32)" required />
                <label class="form-label" for="form3Example1">First name</label>
              </form-control>
            </div>
            <div class="col">
              <form-control class="form-outline">
                <input type="text" id="form3Example2" class="form-control" [(ngModel)]="registration.LName" #NameControl="ngModel" name="LName" onkeypress="return (event.charCode > 64 && event.charCode < 91 ) || (event.charCode > 96 && event.charCode < 123) || (event.charCode == 32)" required />
                <label mdbLabel class="form-label" for="form3Example2">Last name</label>
              </form-control>
            </div>
          </div> -->
          <!-- Email input -->
          <!-- <div class="mb-4">
            <input type="email" id="form3Example3" class="form-control" [(ngModel)]="registration.Email" #EmailControl="ngModel" pattern="^[a-zA-Z0-9_.+-]+@[a-zA-Z0-9-]+\.[a-zA-Z0-9-.]+$" name="Email" required />
            <label mdbLabel class="form-label" for="form3Example3">Email address</label>
          </div> -->
          <!-- Password input -->
          <!-- <div class="mb-4">
            <input type="password" id="form3Example4" class="form-control" [(ngModel)]="registration.Password" pattern="(?=.*[a-z])(?=.*[A-Z])(?=.*[0-9])(?=.*[$@$!%*?&])[A-Za-z\d$@$!%*?&].{8,}" name="Password" #passwordControl="ngModel" required />
            <label mdbLabel class="form-label" for="form3Example4">Password</label>
          </div> -->
         
          <!-- EmailStatus -->
          <!-- <div class="mb-4">
            <input type="text" id="form3Example4" class="form-control" [(ngModel)]="registration.EmailStatus"  name="EmailStatus" #EmailStatus="ngModel" required />
            <label mdbLabel class="form-label" for="form3Example4">EmailStatus</label>
          </div> -->


          <!-- OTPNo -->
          <!-- <div class="mb-4">
            <input type="OTPNo" id="form3Example4" class="form-control" [(ngModel)]="registration.OTPNo"  name="OTPNo" #OTPNo="ngModel" required />
            <label mdbLabel class="form-label" for="form3Example4">OTPNo</label>
          </div> -->
     

          <!-- Status -->
          <!-- <div class="mb-4">
            <input type="Status" id="form3Example4" class="form-control" [(ngModel)]="registration.Status"  name="Status" #Status="ngModel" required />
            <label mdbLabel class="form-label" for="form3Example4">Status</label>
          </div> -->





          <!-- Submit button -->
          <!-- <button type="submit" class="btn btn-primary btn-block mb-4">Sign up</button> -->
     
          <!-- CheckBox -->
          <!-- <label>
            <input type="checkbox" [(ngModel)]="isChecked" name="defaultCheckbox">Set as by default
          </label> -->
          
           
          <!-- Register buttons -->
          <!-- <div class="text-center">
            <p>or sign up with:</p>
            <button type="button" class="btn btn-secondary btn-floating mx-1">
              <i class="fab fa-facebook-f"></i>
            </button>
            <button type="button" class="btn btn-secondary btn-floating mx-1">
              <i class="fab fa-google"></i>
            </button>
            <button type="button" class="btn btn-secondary btn-floating mx-1">
              <i class="fab fa-twitter"></i>
            </button>
            <button type="button" class="btn btn-secondary btn-floating mx-1">
              <i class="fab fa-github"></i>
            </button>
          </div>
        </form>
      </div>
    </div>
  </div>
</section> -->



































<!-- <!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Sign-up Form</title> -->

<!--    
</head>
<body> -->
<!-- <div class="container">
  <div class="col-lg-10 offset-lg-1">
    <div class="row">
      <div class="col-lg-6">
        <!-- Content for the left section goes here -->
<!-- <img src="../assets/signup.png" class="left-image">

      </div>
    </div> -->

<!-- <div class="col-lg-6">
      <div class="right-section"> -->
<!-- Content for the right section goes here -->

<!-- <div class="container SU">
          <h2>Sign-up</h2>
          <form action="#" method="POST">
            <div class="form-group">
              <label for="first-name">First Name</label>
              <input type="text" id="first-name" name="first-name" placeholder="Enter Your First Name" required>
            </div>
            <div class="form-group">
              <label for="last-name">Last Name</label>
              <input type="text" id="last-name" name="last-name" placeholder="Enter Your Last Name" required>
            </div>
            <div class="form-group">
              <label for="contact">Contact</label>
              <input type="tel" id="contact" name="contact" placeholder="xxxxxxxxxx" required>

            </div>
            <div class="form-group">
              <label for="email">Email</label>
              <input type="email" id="email" name="email" placeholder="p**********@gmail.com" required>
            </div>
            <div class="form-group">
              <label for="password">Password</label>
              <input type="password" id="password" name="password" placeholder="******************" required>
            </div>
            <div class="form-group">
              <label for="confirm-password">Confirm Password</label>
              <input type="password" id="confirm-password" name="confirm-password" placeholder="******************"
                required>
            </div> -->

<!-- <div class="button">
              <!-- <button>Register</button> -->
<!-- <p><a href="Login" class="btn btn-primary">Register</a></p>
            </div> -->
<!-- </form>
          <p>or continue with</p>
          <div class="icon-container">
            <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-google"
              viewBox="0 0 16 16">
              <path
                d="M15.545 6.558a9.4 9.4 0 0 1 .139 1.626c0 2.434-.87 4.492-2.384 5.885h.002C11.978 15.292 10.158 16 8 16A8 8 0 1 1 8 0a7.7 7.7 0 0 1 5.352 2.082l-2.284 2.284A4.35 4.35 0 0 0 8 3.166c-2.087 0-3.86 1.408-4.492 3.304a4.8 4.8 0 0 0 0 3.063h.003c.635 1.893 2.405 3.301 4.492 3.301 1.078 0 2.004-.276 2.722-.764h-.003a3.7 3.7 0 0 0 1.599-2.431H8v-3.08z" />
            </svg>
            <span class="icon-space"></span>
            <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-facebook"
              viewBox="0 0 16 16">
              <path
                d="M16 8.049c0-4.446-3.582-8.05-8-8.05C3.58 0-.002 3.603-.002 8.05c0 4.017 2.926 7.347 6.75 7.951v-5.625h-2.03V8.05H6.75V6.275c0-2.017 1.195-3.131 3.022-3.131.876 0 1.791.157 1.791.157v1.98h-1.009c-.993 0-1.303.621-1.303 1.258v1.51h2.218l-.354 2.326H9.25V16c3.824-.604 6.75-3.934 6.75-7.951" />
            </svg> -->
<!-- <span class="icon-space"></span>
            <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-linkedin"
              viewBox="0 0 16 16">
              <path
                d="M0 1.146C0 .513.526 0 1.175 0h13.65C15.474 0 16 .513 16 1.146v13.708c0 .633-.526 1.146-1.175 1.146H1.175C.526 16 0 15.487 0 14.854zm4.943 12.248V6.169H2.542v7.225zm-1.2-8.212c.837 0 1.358-.554 1.358-1.248-.015-.709-.52-1.248-1.342-1.248S2.4 3.226 2.4 3.934c0 .694.521 1.248 1.327 1.248zm4.908 8.212V9.359c0-.216.016-.432.08-.586.173-.431.568-.878 1.232-.878.869 0 1.216.662 1.216 1.634v3.865h2.401V9.25c0-2.22-1.184-3.252-2.764-3.252-1.274 0-1.845.7-2.165 1.193v.025h-.016l.016-.025V6.169h-2.4c.03.678 0 7.225 0 7.225z" />
            </svg>
          </div>
        </div>
      </div>
    </div>
  </div>
</div> -->




<div class="container">
  <div class="row" style="box-shadow: rgba(99, 99, 99, 0.2) 0px 2px 8px 0px;">
    <div class="col-lg-10 offset-lg-1">
      <div class="row" style="height: 100%;">
        <div class="col-lg-6">

          <!-- Content for the left section goes here -->
          <img src="../assets/signup.png" class="left-image">
        </div>

        <div class="col-lg-6">
          <div class="right-section">
            <!-- Content for the right section goes here -->


            <div class="container SU">

              <h2>Sign-up</h2>
              <form action="#" method="POST">
                <div class="form-group row">
                  <div class="col-sm-6">
                    <label for="first-name">First Name</label>
                    <input type="text" id="first-name" name="first-name" [(ngModel)]="registration.FName" #NameControl="ngModel" placeholder="Enter Your First Name" required>
                  </div>
                  <div class="col-sm-6">
                    <label for="last-name">Last Name</label>
                    <input type="text" id="last-name" name="last-name"[(ngModel)]="registration.LName" #NameControl="ngModel" placeholder="Enter Your Last Name" required>
                  </div>
                </div>
                <!-- <div class="form-group">
                  <label for="contact">Contact</label>
                  <input type="tel" id="contact" name="contact" placeholder="xxxxxxxxxx" required>
                </div> -->
                <div class="form-group">
                  <label for="email">Email</label>
                  <input type="email" id="email" name="email"[(ngModel)]="registration.Email" #NameControl="ngModel" placeholder="p**********@gmail.com" required>
                </div>
                <div class="form-group">
                  <label for="password">Password</label>
                  <input type="password" id="password" name="password" [(ngModel)]="registration.Password" pattern="(?=.*[a-z])(?=.*[A-Z])(?=.*[0-9])(?=.*[$@$!%*?&])[A-Za-z\d$@$!%*?&].{8,}" placeholder="******************" required>
                </div>

                <!-- <div class="form-group">
                  <label for="confirm-password">Confirm Password</label>
                  <input type="password" id="confirm-password" name="confirm-password" placeholder="******************"
                    required>
                </div> -->

                <div class="button">
                  <!-- <button>Register</button> -->
                  <p><button (click)="OnSubmit()" class="btn btn-primary">Register</button></p>
                </div>
              </form>
              <p>or continue with</p>
              <div class="icon-container">
                <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-google"
                  viewBox="0 0 16 16">
                  <path
                    d="M15.545 6.558a9.4 9.4 0 0 1 .139 1.626c0 2.434-.87 4.492-2.384 5.885h.002C11.978 15.292 10.158 16 8 16A8 8 0 1 1 8 0a7.7 7.7 0 0 1 5.352 2.082l-2.284 2.284A4.35 4.35 0 0 0 8 3.166c-2.087 0-3.86 1.408-4.492 3.304a4.8 4.8 0 0 0 0 3.063h.003c.635 1.893 2.405 3.301 4.492 3.301 1.078 0 2.004-.276 2.722-.764h-.003a3.7 3.7 0 0 0 1.599-2.431H8v-3.08z" />
                </svg>
                <span class="icon-space"></span>
                <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor"
                  class="bi bi-facebook" viewBox="0 0 16 16">
                  <path
                    d="M16 8.049c0-4.446-3.582-8.05-8-8.05C3.58 0-.002 3.603-.002 8.05c0 4.017 2.926 7.347 6.75 7.951v-5.625h-2.03V8.05H6.75V6.275c0-2.017 1.195-3.131 3.022-3.131.876 0 1.791.157 1.791.157v1.98h-1.009c-.993 0-1.303.621-1.303 1.258v1.51h2.218l-.354 2.326H9.25V16c3.824-.604 6.75-3.934 6.75-7.951" />
                </svg>
                <span class="icon-space"></span>
                <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor"
                  class="bi bi-linkedin" viewBox="0 0 16 16">
                  <path
                    d="M0 1.146C0 .513.526 0 1.175 0h13.65C15.474 0 16 .513 16 1.146v13.708c0 .633-.526 1.146-1.175 1.146H1.175C.526 16 0 15.487 0 14.854zm4.943 12.248V6.169H2.542v7.225zm-1.2-8.212c.837 0 1.358-.554 1.358-1.248-.015-.709-.52-1.248-1.342-1.248S2.4 3.226 2.4 3.934c0 .694.521 1.248 1.327 1.248zm4.908 8.212V9.359c0-.216.016-.432.08-.586.173-.431.568-.878 1.232-.878.869 0 1.216.662 1.216 1.634v3.865h2.401V9.25c0-2.22-1.184-3.252-2.764-3.252-1.274 0-1.845.7-2.165 1.193v.025h-.016l.016-.025V6.169h-2.4c.03.678 0 7.225 0 7.225z" />
                </svg>
              </div>
            </div>

          </div>
        </div>
      </div>
    </div>
  </div>
</div>