<!DOCTYPE html>
<html lang="en">

<head>
  <!-- <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
  <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css"
    integrity="sha384-B4gt1jrGC7Jh4AgTPSdUtOBvfO8sh+WyLdy6WvATKFIddjauEMUAHzI/6vpW6L" crossorigin="anonymous"> -->
  <title>Course Form</title>
</head>

<body>

  <div class="container mt-5">
    <h2>Course Form</h2>
    <form>

      <!-- CourseId
      <div class="form-group row">
        <label for="CourseId" class="col-sm-2 col-form-label">CourseId</label>
        <div class="col-sm-10">
          <input type="text" class="form-control" id="CourseId" placeholder="Enter CourseId ">
        </div>
      </div> -->


       <!-- InstructorId -->
       <div class="form-group row">
        <label for="InstructorId" class="col-sm-2 col-form-label">InstructorId</label>
        <div class="col-sm-10">
          <select [(ngModel)]="course.Instructor.InstructorId"class="form-control" name="InstructorId" #instructorId="ngModel" placeholder="Enter Instructor Id" required>
            <option *ngFor="let Instructor of InstructorList" [value]="Instructor.InstructorId">{{Instructor.Name}}</option>
          </select>
        </div>
      </div>
      <br>
      <br>
      <!-- Title -->
      <div class="form-group row">
        <label for="Title" class="col-sm-2 col-form-label">Title</label>
        <div class="col-sm-10">
          <input type="text" class="form-control" id="Title" [(ngModel)]="course.Title" #title="ngModel" name="Title"  placeholder="Enter Title">
        </div>
      </div>
   
      <br>
      <!-- Description -->
      <div class="form-group row">
        <label for="Description" class="col-sm-2 col-form-label">Description</label>
        <div class="col-sm-10">
          <textarea class="form-control" id="Description" [(ngModel)]="course.Description" #description="ngModel" name="Description"rows="3" placeholder="Enter Description"></textarea>
        </div>
      </div>
      
      <br>
      <!-- StartDate -->
      <div class="form-group row">
        <label for="StartDate" class="col-sm-2 col-form-label">StartDate</label>
        <div class="col-sm-10">
          <input type="StartDate" class="form-control" id="StartDate"[(ngModel)]="course.StartDate" #startDate="ngModel" name="StartDate" placeholder="Enter StartDate">
        </div>
      </div>
   
      <br>

      <!-- EndDate -->
      <div class="form-group row">
        <label for="EndDate" class="col-sm-2 col-form-label">EndDate</label>
        <div class="col-sm-10">
          <input type="EndDate" class="form-control" id="EndDate"[(ngModel)]="course.EndDate" #endDate="ngModel" name="EndDate" placeholder="Enter EndDate">
        </div>
      </div>
   
      <br>

      <!-- Price -->
      <div class="form-group row">
        <label for="Price" class="col-sm-2 col-form-label">Price</label>
        <div class="col-sm-10">
          <input type="Price" class="form-control" id="Price"[(ngModel)]="course.Price" #price="ngModel" name="Price" placeholder="Enter Price">
        </div>
      </div>
   
      <br>
      <!-- Status -->
      <!-- <div class="form-group row">
        <label for="Status" class="col-sm-2 col-form-label">Status</label>
        <div class="col-sm-10">
          <input type="Status" class="form-control" id="Status"[(ngModel)]="course.Status" #status="ngModel" name="Status" placeholder="Enter Status">
        </div>
      </div> -->
   
      <br>
      

      <br>
      <!-- Submit Button -->
      <div class="form-group row">
        <div class="col-sm-10 offset-sm-2">
          <button type="submit" (click)="OnSubmit()" class="btn btn-primary">Submit</button>
        </div>
      </div>

    </form>
  </div>

  

</body>

</html>
 