<select [(ngModel)]="selectedCountry" (change)="onCountryChange()">
    <option value="">Select Country</option>
    <option *ngFor="let country of countries" [value]="country.id">{{ country.name }}</option>
  </select>
  
  <select [(ngModel)]="selectedState" (change)="onStateChange()" *ngIf="selectedCountry">
    <option value="">Select State</option>
    <option *ngFor="let state of states" [value]="state.id">{{ state.name }}</option>
  </select>
  
  <select *ngIf="selectedState">
    <option value="">Select City</option>
    <option *ngFor="let city of cities" [value]="city.id">{{ city.name }}</option>
  </select>
  