
<div class="main-content">
    <div class="container-fluid">
        <div class="row">
            <div class="col-md-12">
                <div class="card">
                    <div class="card-header card-header-danger">
                        <h4 class="card-title ">CVList</h4>
                        <p class="card-category"> View here all CVList table record</p>
                    </div>
                    <div class="card-body">
                        <div class="table-responsive">
                            <table class="table">
                                <thead class=" text-primary" style="background-color: #ea48441c;">
                                    <th>CVId </th>
                                    <th>RegistrationId </th>
                                    <th>CVPDF</th>
                                    <th>Status</th>
                                   
                                    <!-- <th>Categorized </th> -->
                                    <!-- <th>PostBy </th> -->
                                    <th>PDF</th>
                                    <th>Action </th>
                                        
                                   
                              
                                </thead>
                                <tbody>
                                    <tr *ngFor="let i of CVList">
                                        <td>{{i.CVId}}</td>
                                        <td>{{i.RegistrationId}}</td>
                                        <td>{{i.CVPDF}}</td>
                   
                                        <td>{{i.Status}}</td>
                                        
                                        <!-- <td> <img src="{{imgPath}}Content/Blog/{{i.Photo}}" style="height: 80px;width: 80px;"></td> -->
                                        <!-- <td>{{i.Categorized}}</td>
                                        <td>{{i.PostBy}}</td> -->
                                        <!-- <td>{{i.Sectiontwo}}</td> -->
                                        <td> <img src="{{pdfPath}}Content/CV/{{i.CVPDF}}" style="height: 80px;width: 80px;"></td>
                                        <td><i class="fa fa-pencil-square iconaction"(click)="Edit(i.CVId)"  aria-hidden="true"></i>
                                            &nbsp;   <i class="fa fa-eye iconaction" (click)="View(i.CVId)" aria-hidden="true"></i>
                                             &nbsp; <i class="fa fa-trash iconaction"(click)="Delete(i.CVId)" aria-hidden="true"></i>
                                        </td>
                                    </tr>    
                                                           
                                </tbody>
                            </table>
                        </div>
                    </div>
                </div>
            </div>
   
        </div>
    </div>
  </div>
  